<h1><b>INSTRUMENTO PARTICULAR DE CONTRATO DE MÚTUO</b></h1>

<p align="justify">
    Pelo presente instrumento particular, na melhor forma da lei, as partes abaixo identificadas, de um lado,</p>

<p align="justify"><b>[NOME]</b>, [NACIONALIDADE], [ESTADO_CIVIL], [PROFISSAO], residente e domiciliado na Cidade de [CIDADE], Estado do [ESTADO], na Rua [RUA], n.º [NUMERO], Bairro [BAIRRO], CEP: [CEP], portador da Cédula de Identidade RG n.º [RG] e inscrito no CPF/MF sob o n.º [CPF] (“<b><u>MUTUANTE</u></b>”);</p>

<p align="justify">De outro,</p>

<p align="justify"><b>OHNE SERVIÇOS DE TECNOLOGIA EM CRÉDITOS LTDA.</b>, pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 28.124.823/0001-48, com sede à Rua Coronel Dulcídio, nº 588, Batel, Curitiba/PR, CEP 80.420-170, neste ato representada por seus sócios administradores, nos termos de seu Contrato Social (“<b><u>OHNE</u></b>”).</p>
<br/>
<h3>CONSIDERAÇÕES INICIAIS</h3>
<br/>
<p align="justify">
    <b>Considerando que</b> a <b>OHNE</b> é sociedade que se dedica à exploração do mercado de tecnologia em concessão de crédito pessoal;</p>

<p align="justify">
    <b>Considerando que</b> o <b>MUTUANTE</b> tem interesse em transferir recursos à OHNE para fins de investimento em suas atividades e ativos;</p>

<p align="justify">
    <b>Considerando que</b> as partes pretendem estabelecer previamente as regras e condições para a restituição do valor aportado em nome da <b>OHNE</b> pelo <b>MUTUANTE</b>.</p>

<p align="justify">
    As Partes têm entre si, justo e contratado, o presente <b>Instrumento Particular de Contrato de Mútuo</b>, doravante denominado Instrumento, que se regerá de acordo com as seguintes cláusulas e condições.</p>
<br/>
<h3>CLÁUSULA PRIMEIRA - DO OBJETO</h3>
<br/>
<p align="justify">1.1.	O objeto do presente Instrumento é regulamentar o empréstimo de R$ [VALOR] ([VALOR_EXTENSO] reais) (“<u>Valor Mutuado</u>”), em moeda corrente nacional, efetuado pela <b>MUTUANTE</b> à <b>OHNE</b>, com o intuito de viabilizar o investimento em suas atividades e ativos.</p>

<p align="justify">1.2.	O Valor Mutuado deverá ser disponibilizado pelo <b>MUTUANTE</b> à <b>OHNE</b> em parcela única na data de [HOJE_DIA]/[HOJE_MES]/[HOJE_ANO], por meio de transferência bancária para a seguinte conta corrente:</p>

<b>
    <table>
        <tr>
            <td>Banco:</td>
            <td>Bradesco S.A.</td>
        </tr>
        <tr>
            <td>Agência:</td>
            <td>00489</td>
        </tr>
        <tr>
            <td>C/c:</td>
            <td>0005270-1</td>
        </tr>
        <tr>
            <td>Titular:</td>
            <td>Ohne Serviços de Tecnologia em Créditos Ltda.</td>
        </tr>
        <tr>
            <td>CNPJ:</td>
            <td>28.124.823/0001-48</td>
        </tr>
    </table>
</b>
<br/>
<h3>CLÁUSULA SEGUNDA – DA REMUNERAÇÃO E DO PRAZO PARA RESTITUIÇÃO DO VALOR MUTUADO</h3>
<br/>
<p align="justify">2.1.	O Valor Mutuado será acrescido de juros de 1,5% (um vírgula cinco pontos percentuais) ao mês, a partir da data da efetiva disponibilização do Valor Mutuado, para devolução no prazo de 48 (quarenta e oito) meses, sujeito às penalidades da cláusula 2.1.2.1., abaixo, em caso de rescisão.</p>


<p align="justify">2.1.1.	As Partes acordam que, a remuneração e o Valor Restituído serão pagos ao <b>MUTUANTE</b> da seguinte forma:</p>

<p align="justify">
    a) Entre o 1º e 24º mês de vigência, o <b>MUTUANTE</b> receberá mensalmente a remuneração em decorrência do pagamento dos juros, em acordo com a opção escolhida na tabela acima.</p>

<p align="justify">
    b) Entre o 25º e 48º mês de vigência, o <b>MUTUANTE</b> receberá o Valor Mutuado em 24 (vinte e quatro) parcelas mensais, bem como a remuneração em decorrência do pagamento dos juros sobre o valor remanescente mutuado.</p>

<p align="justify">2.1.1.1. Os pagamentos ora regulamentados serão realizados no mesmo dia do mês em que o Valor Mutuado foi efetivamente recebido pela <b>OHNE</b>, através de Transferência Bancária para a Conta Corrente de titularidade do <b>MUTUANTE</b>, a seguir:</p>

<b>
    <table>
        <tr>
            <td>Banco:</td>
            <td>[BANCO]</td>
        </tr>
        <tr>
            <td>Agência:</td>
            <td>[AGENCIA]</td>
        </tr>
        <tr>
            <td>C/c:</td>
            <td>[CONTA]</td>
        </tr>
    </table>
</b>

<p align="justify">2.1.2.	Fica ainda acordado que, o <b>MUTUANTE</b> poderá, em caso de urgência justificada, solicitar a rescisão antecipada deste Instrumento, mediante o envio de notificação à <b>OHNE</b>. Após o recebimento da referida notificação, a <b>OHNE</b> terá o prazo de (i) 60 (sessenta) dias para efetuar o pagamento do Valor Mutuado ao <b>MUTUANTE</b>, caso este seja de até R$ 100.000,00 (cem mil reais); e (ii) 90 (noventa dias) para efetuar o pagamento do Valor Mutuado ao <b>MUTUANTE</b>, caso este seja superior a 100.000,00 (cem mil reais). </p>

<p align="justify">
    2.1.2.1. O <b>MUTUANTE</b> fica ciente de que a rescisão antecipada implicará na aplicação das multas abaixo elencadas, de acordo com o período cumprido do Instrumento:</p>

<p align="justify">
    a) Caso a rescisão antecipada ocorra entre o 1º e 24º mês de vigência, será aplicada multa de 100% (cem por cento) sobre o valor da remuneração devida, recebendo o <b>MUTUANTE</b> o Valor Mutuado em sua integralidade, sem incidência de qualquer atualização ou correção monetária, deduzidas todas as parcelas pagas a título de remuneração mensal;</p>

<p align="justify">
    b) Caso a rescisão antecipada ocorra entre o 25º e 36º mês de vigência, será aplicada multa de 70% (setenta por cento) sobre o valor da remuneração devida, recebendo o <b>MUTUANTE</b> o Valor Mutuado em sua integralidade, sem incidência de qualquer atualização ou correção monetária, deduzido 70% (setenta por cento) do valor das parcelas pagas a título de remuneração mensal;</p>

<p align="justify">
    c) Caso a rescisão antecipada ocorra entre o 36º e 48º mês de vigência, será aplicada multa de 50% (cinquenta por cento) sobre o valor da remuneração devida, recebendo o <b>MUTUANTE</b> o Valor Mutuado em sua integralidade, sem incidência de qualquer atualização ou correção monetária, deduzido 50% (cinquenta por cento) do valor das parcelas pagas a título de remuneração mensal.</p>

<p align="justify">2.2.	Havendo atraso, pela <b>OHNE</b>, no pagamento de quaisquer obrigações pecuniárias relativas ao presente Instrumento, o débito vencido e não pago será acrescido de juros de mora de 0,5% (meio por cento) ao mês, calculados pro rata temporis, desde a data de inadimplemento até a data do efetivo pagamento, bem como de multa compensatória de 2% (dois por cento), sendo ambos computados sobre os valores em atraso, independentemente de aviso, notificação ou interpelação judicial ou extrajudicial.</p>

<p align="justify">2.2.1. Caso a data pagamento de quaisquer obrigações pecuniárias relativas ao presente Instrumento caia em um sábado, domingo ou feriado, o pagamento será postergado para o primeiro dia útil subsequente, sem qualquer incidência de juros ou multa.</p>

<p align="justify">2.3.	Fica facultado ao <b>MUTUANTE</b>, até o final do 23º mês de vigência do presente Instrumento, manifestar expressamente a sua intenção de manter o Valor Mutuado investido na <b>OHNE</b>, deixando então, nesta hipótese, de passar a receber as parcelas do Valor Mutuado, conforme item “b” da Cláusula 2.1.1. Caso manifeste essa sua intenção, a partir do 25º mês, o <b>MUTUANTE</b> fará jus tão somente ao recebimento da remuneração decorrente do pagamento dos juros, permanecendo o Valor Mutuado integralmente investido.</p>

<p align="justify">2.3.1.	A manifestação deverá ser feita de forma expressa na forma do disposto na Cláusula 5.4 do presente Instrumento.</p>

<p align="justify">2.3.2.	Nesta mesma manifestação, poderá o <b>MUTUANTE</b> optar por promover o aumento do Valor Mutuado, situação em que se aplicarão a este valor todas as disposições do presente Instrumento.</p>

<p align="justify">2.4. Ademais, caso a <b>OHNE</b> não efetue o pagamento do Valor Restituído no prazo e forma acordados neste Instrumento, poderá o <b>MUTUANTE</b>, após o envio de Notificação à <b>OHNE</b> concedendo o prazo de 60 (sessenta) dias para regularização dos valores em aberto (“<u>Notificação de Inadimplemento</u>”), optar: (i) pela execução do presente Instrumento; ou (ii) pela conversão dos valores que lhe são devidos em ações preferenciais representativas do capital social da <b>OHNE</b>, visando à quitação de seu crédito, observada a regra de conversão prevista na Cláusula 2.4.1, abaixo.</p>

<p align="justify">2.4.1. Ocorrendo o inadimplemento pela <b>OHNE</b> de suas obrigações pecuniárias e não tendo o mesmo sido sanado no prazo de 60 (sessenta) dias após o envio da Notificação de Inadimplemento, poderá o <b>MUTUANTE</b> optar pela conversão do valor a ele devido em Ações Preferenciais da <b>OHNE</b>, utilizando-se para calcular o número de ações decorrentes da conversão a seguinte fórmula: </p>

<p align="center">
  <span style="font-size: 20px">
    <b>PA = (VI x 100) / VaC</b>
  </span>
</p>

<p align="justify">
    <b>PA</b> = <u>Percentual de Ações.</u> Representa o percentual de ações preferenciais da <b>OHNE</b> que o <b>MUTUANTE</b> fará jus no caso de conversão;</p>

<p align="justify">
    <b>VI</b> = <u>Valor do Investimento.</u> Representa o Valor Mutuado acrescido da remuneração prevista na Cláusula 2.1.</p>

<p align="justify">
    <b>VaC</b> = <u>Valuation da Companhia.</u> Representa o Valuation da <b>OHNE</b> no momento da conversão a ser calculado por empresa especializada do ramo.</p>

<p align="justify">2.4.1.1. Caso a conversão dos valores resulte em número fracionário de ação, a parcela correspondente a tal fração será devida em moeda corrente nacional, na data da solicitação de conversão, devendo o pagamento ser realizado até o 5º Dia Útil subsequente à data de conversão tendo por base o valor patrimonial da ação. Quando o somatório das frações oriundas da conversão for superior a 01 (uma) ação este não mais terá direito ao pagamento em moeda corrente nacional da fração que exceder a 01 (uma) ação.</p>

<p align="justify">2.4.1.2.	As ações preferenciais da <b>OHNE</b> que forem emitidas em decorrência da conversão terão os direitos, preferências e vantagens estatutariamente garantidos às ações previstas no Estatuto Social da Sociedade e farão jus a todos os dividendos, bonificações e demais vantagens que venham a ser declarados em atos societários, ressalvado, porém, que as ações preferenciais resultantes da conversão: (i) não conferirão direito de voto ao seu Titular; e (ii) participarão em dividendos que venham a ser distribuídos relativamente a lucros apurados no exercício social no qual ocorreu a conversão, pro rata temporis, com base no período de tempo compreendido entre a data de conversão (“<u>Data de Conversão</u>”) e o término do exercício social.</p>

<p align="justify">2.4.1.3.	O aumento de capital decorrente da conversão dos valores em ações ocorrerá de forma automática sendo certo que a sua averbação será realizada na Junta Comercial, no prazo de 30 (trinta) dias subsequentes à sua efetivação, observada a forma estabelecida no inciso III, artigo 166 da Lei das Sociedades por ações.</p>
<br/>
<h3>CLÁUSULA TERCEIRA - DOS ÔNUS FISCAIS</h3>
<br/>
<p align="justify">3.1.	As Partes acordam que qualquer obrigação tributária ou ônus fiscal decorrente do presente Instrumento caberá à parte a quem a legislação aplicável atribuir a respectiva responsabilidade, podendo a <b>OHNE</b>, inclusive, efetuar a retenção de impostos na fonte sobre o Valor Restituído.</p>
<br/>
<h3>CLÁUSULA QUARTA - DA VIGÊNCIA, RESCISÃO CONTRATUAL E VENCIMENTO ANTECIPADO DA DÍVIDA</h3>
<br/>
<p align="justify">4.1.	O presente Instrumento é celebrado pelo prazo máximo de 48 (quarenta e oito meses) estabelecido na cláusula 2.1, acima, ao final do qual o Valor Restituído deverá ser integralmente pago à <b>MUTUANTE</b>.</p>

<p align="justify">4.2.	O presente Instrumento poderá ser rescindido imediatamente, independentemente de notificação ou interpelação judicial, nos seguintes casos: </p>

<p align="justify">
    a) Cessão ou transferência do presente Instrumento pelo <b>MUTUANTE</b>, sem o prévio e expresso consentimento da <b>OHNE</b>;</p>

<p align="justify">
    b) Recuperação judicial ou extrajudicial, dissolução, liquidação judicial ou extrajudicial, solicitada, declarada ou homologada em face da <b>OHNE</b>.</p>

<p align="justify">4.3.	Em caso de rescisão do presente Instrumento em decorrência das hipóteses previstas na cláusula 4.2 acima, a dívida relativa ao Valor Mutuado, acrescido da remuneração proporcional ao período do Prazo de Investimento já transcorrido, vencerá antecipadamente, sendo integral e imediatamente exigível pelo <b>MUTUANTE</b>.</p>
<br/>
<h3>CLÁUSULA QUINTA – DISPOSIÇÕES GERAIS</h3>
<br/>
<p align="justify">5.1.	<u>Irrevogabilidade e irretratabilidade</u>. Este Acordo é celebrado em caráter irretratável e irrevogável, não podendo as Partes rescindi-lo ou eximir-se de seu cumprimento. As Partes renunciam expressamente à qualquer direito de arrependimento com relação ao presente Instrumento.</p>

<p align="justify">5.2.	<u>Execução Específica</u>. As Partes expressamente reconhecem, neste ato, que as obrigações por elas ora assumidas estão sujeitas à execução específica e serão cumpridas nos termos do Código de Processo Civil Brasileiro.</p>

<p align="justify">5.3.	<u>Renúncias</u>. O fato de qualquer Parte deixar de exigir, a qualquer tempo, o cumprimento do disposto neste Instrumento, ou deixar de exercer alguma opção, alternativa ou direito nele outorgado, não significará renúncia a qualquer de suas disposições, e tampouco afetará sua validade ou direito, no todo ou em parte. Fica assegurado a qualquer Parte o direito de, posteriormente e a qualquer tempo, exigir o cumprimento de toda e qualquer disposição deste Acordo, bem como de exercer opção, alternativa e/ou direito, salvo quando disposto diversamente e de forma expressa neste Instrumento. Nenhuma renúncia a qualquer disposição deste Instrumento será eficaz perante as outras Partes, a menos que seja realizada validamente pela parte renunciante por escrito.</p>

<p align="justify">5.4.	<u>Comunicações</u>. Todas as notificações, solicitações e outras comunicações previstas relativas e ou decorrentes deste Instrumento somente serão consideradas válidas e eficazes se respeitarem a forma escrita e forem enviadas, por meio de carta para os endereços do preambulo deste Instrumento ou e-mail, para as Partes, nos endereços abaixo:</p>

<p align="justify">
    (a) Se para o <b>MUTUANTE</b>:<br/>
    E-mail: [EMAIL]</p>

<p align="justify">
    (b) 	Se para a <b>OHNE</b>:<br/>
    <b>OHNE SERVIÇOS DE TECNOLOGIA EM CRÉDITOS LTDA</b><br/>
    E-mail: ohne@ohne.com.br</p>

<p align="justify">5.5.	<u>Cessão</u>. Exceto se previsto de forma distinta neste Instrumento, as Partes não poderão, no todo ou em parte, ceder e/ou transferir seus respectivos direitos e obrigações, conforme previstos neste Instrumento, a quaisquer terceiros, salvo mediante o consentimento prévio e por escrito das outras Partes. </p>

<p align="justify">5.6.	<u>Confidencialidade</u>. As Partes obrigam-se a manter confidencialidade a respeito das informações contidas neste Instrumento, a que tiveram acesso por meio ou no âmbito da negociação deste Acordo (“<u>Informações Confidenciais</u>”).</p>

<p align="justify">5.7.	<u>Lei Aplicável</u>. Este Instrumento reger-se-á por e será interpretado de acordo com as Leis da República Federativa do Brasil.</p>
<br/>
<h3>CLÁUSULA SEXTA – RESOLUÇÃO DE CONFLITOS - ARBITRAGEM</h3>
<br/>
<p align="justify">6.1.	Qualquer disputa ou controvérsia relativa à interpretação ou execução deste Instrumento, ou de qualquer forma oriunda ou associada a ele, e que não seja dirimida amigavelmente entre as Partes, deverá ser resolvida de forma definitiva por Arbitragem, nos termos do Regulamento de Arbitragem e Mediação da Câmara de Arbitragem e Mediação da Federação das Indústrias do Estado do Paraná (CAMFIEP), e sob a administração da mesma Câmara. O Tribunal Arbitral será composto por árbitro único, nomeado de acordo com o Regulamento da CAMFIEP e o local da arbitragem será a cidade de Curitiba, Estado do Paraná. A lei aplicável ao mérito será a lei brasileira. </p>

<p align="justify">6.2.	Sem prejuízo da eficácia da cláusula compromissória, fica, desde já, eleito o foro Central da Comarca de Curitiba, Estado do Paraná, como foro exclusivo para a) dar seguimento a quaisquer procedimentos coercitivos ou acautelatórios de natureza preventiva, que visem garantir o processo a ser iniciado ou já em andamento e/ou a garantir a existência e exequibilidade do processo arbitral, e b) obter medida de caráter mandamental ou execução específica, ressalvado, no entanto, que, tendo obtido a referida medida de caráter mandamental, o tribunal arbitral a ser formado, ou já formado, conforme o caso, recuperará plena e exclusiva autoridade para prolatar sentença sobre todas e quaisquer questões que tenham levado as partes a procurar obter medida de caráter mandamental.</p>

<p align="justify">
    Curitiba/PR, [DIA] de [MES_EXTENSO] de [ANO].
</p>

<br/><br/>

<p align="center">
    <b>
        _________________________________
        <br/>
        [NOME_ASSINATURA]
        <br/>
        Mutuante
        <br/><br/>
        _________________________________
        <br/>
        OHNE SERVIÇOS DE TECNOLOGIA EM CRÉDITOS LTDA.
        <br/>
        Mutuaria
    </b>
</p>